*{
    margin: 20;
    padding: 20;
    
}

h1{
    color: cornsilk;
    background: black;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    
}

h2{
    background-color:white ;
    font-weight: bolder;
    text-transform: capitalize;
     text-decoration: underline;
}
body{
    
    background: rgb(202, 189, 160);
    
    
}
table{
    text-align: left;
    text-shadow: rgb(0, 0, 0);
    border: 0 px solid #000000;
    border-top: 0px solid #000000;
    border-spacing: 0px;

    
    
}